* text=auto !eol
avr_controll/Beschreibung.txt -text
avr_controll/Makefile -text
avr_controll/PowerCommander_matrix.h -text
avr_controll/config.h -text
avr_controll/fkt.c -text
avr_controll/fkt.h -text
avr_controll/main.c -text
avr_controll/pc_init.c -text
avr_controll/pc_init.h -text
avr_interface/Beschreibung.txt -text
avr_interface/Makefile -text
avr_interface/can_handler.c -text
avr_interface/can_handler.h -text
avr_interface/config.h -text
avr_interface/i2c_funktionen.c -text
avr_interface/i2c_funktionen.h -text
avr_interface/main.c -text
avr_interface/statusled.c -text
avr_interface/statusled.h -text
avr_interface/switch.c -text
avr_interface/switch.h -text
avr_interface/virt_lamp.c -text
avr_interface/virt_lamp.h -text
include/PowerCommander.h -text
