* text=auto !eol
avr_controll/Beschreibung.txt -text
avr_controll/Makefile -text
avr_controll/PowerCommander.h -text
avr_controll/bright.c -text
avr_controll/bright.h -text
avr_controll/main.c -text
avr_controll/opto.c -text
avr_controll/opto.h -text
avr_controll/switch.c -text
avr_controll/switch.h -text
avr_controll/twi_slave/twi_slave.c -text
avr_controll/twi_slave/twi_slave.h -text
avr_display/Beschreibung.txt -text
avr_interface/Beschreibung.txt -text
avr_interface/Makefile -text
avr_interface/config.h -text
avr_interface/lap.h -text
avr_interface/main.c -text
avr_interface/progmem.h -text
avr_interface/spi.c -text
avr_interface/spi.h -text
avr_interface/switch.c -text
avr_interface/switch.h -text
avr_interface/twi_master/twi_master.c -text
avr_interface/twi_master/twi_master.h -text
avr_interface/xcan.c -text
avr_interface/xcan.h -text
avr_interface/xlap.c -text
avr_interface/xlap.h -text
